.formContainer {
  width: 30%;
  height: 80vh;
  border-radius: 30px;
  background-color: #DDE6ED;
}
.mgo{
  background-color:#DDE6ED;
;
}

.formContainer input {
  border-radius: 30px;

  width: 75%;
  padding: 12px 14px;
  margin: 5px;
  font-size: 1.2rem;
}

.SignInBtn {
  color: black;
  cursor: pointer;
  padding: 12px 8px;
  font-size: 1rem;
  width: 73%;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  background-color: #29539b;
}

.SignInBtn:hover {
  opacity: 0.8;
  
}
